{{ define "nav" }}
<header>
  <a href="">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="150"
      height="150"
      viewBox="0 0 200 200"
    >
      <text
        x="50%"
        y="50%"
        font-family="Courier New, monospace"
        font-size="48"
        fill="#000000b8"
        text-anchor="middle"
        alignment-baseline="middle"
      >
        {"{}"}
      </text>
      <text
        x="50%"
        y="170"
        font-family="Monaspace krypton"
        font-size="24"
        fill="#333"
        text-anchor="middle"
      >
        CODE_CLIPS
      </text>
    </svg>
  </a>

  <a class="navlink material-symbols-outlined" id="downloadButton">
    download
  </a>

  <nav>
    <ul>
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/clips">Clips</a></li>
      <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<div class="element"></div>

<script>
  // for downloading the pwa
  let deferredPrompt;

  window.addEventListener("beforeinstallprompt", (e) => {
    // Prevent the mini-infobar from appearing on mobile
    e.preventDefault();
    // Stash the event so it can be triggered later
    deferredPrompt = e;
    // Update UI to show the download button
    const downloadButton = document.getElementById("downloadButton");
    if (downloadButton) {
      downloadButton.style.display = "block";
    }
  });

  document.getElementById("downloadButton").addEventListener("click", (e) => {
    // Hide the download button
    e.preventDefault();
    const downloadButton = document.getElementById("downloadButton");
    if (downloadButton) {
      downloadButton.style.display = "none";
    }

    // Show the install prompt
    if (deferredPrompt) {
      deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === "accepted") {
          console.log("User accepted the install prompt");
        } else {
          console.log("User dismissed the install prompt");
        }
        deferredPrompt = null;
      });
    }
  });
</script>
<script src="/static/js/app.js"></script>

{{ end }}
