{{ define "nav" }}
<header>
  <a href="">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="150"
      height="150"
      viewBox="0 0 200 200"
    >
      <text
        x="50%"
        y="50%"
        font-family="Courier New, monospace"
        font-size="48"
        fill="#000000b8"
        text-anchor="middle"
        alignment-baseline="middle"
      >
        {"{}"}
      </text>
      <text
        x="50%"
        y="170"
        font-family="Monaspace krypton"
        font-size="24"
        fill="#333"
        text-anchor="middle"
      >
        CODE_CLIPS
      </text>
    </svg>
  </a>

  <nav>
    <ul>
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/clips">Clips</a></li>
      <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
{{ end }}
