{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- for highlighting -->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css"
    />
    <title></title>
  </head>
  <body class="rainbow-mesh glass-pane">
    {{ template "nav" .}} {{ with .Toast }}
    <div id="toast-message" class="toast">{{.}}</div>

    {{ end }} {{ template "main" .}} {{ template "footer" .}}
  </body>
</html>

{{ end }}
