/* view transition api for smooth page navigation */

@view-transition {
  navigation: auto;
}

/* github's custom font */
@font-face {
  font-family: "Monaspace krypton";
  src: url("./ui/static/fonts/MonaspaceKrypton-SemiWideRegular.woff2");
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
body {
  height: 100vh;
  max-width: 1176px;
  margin: 0 auto;
  font-family: "Monaspace krypton";
  color: #000000b8;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-item {
  position: relative;
  font-size: 24px;
  color: #000000b8;
  overflow: hidden;
  transition: color 0.3s;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.3s ease-in-out;
  z-index: -1;
}

.nav-item:hover {
  color: white;
}

.nav-item:hover::before {
  clip-path: inset(0);
}

nav > ul > li {
  margin: 1rem;
}

nav > ul > li.nav-item > a {
  text-decoration: none;
  color: #000000b8;
}

.glass-pane {
  border-radius: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.687);
  border: 1.5px solid rgba(209, 213, 219, 1);
  height: 100%;
}

.rainbow-mesh {
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      circle at 30% 20%,
      hsla(28, 100%, 74%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 70% 10%,
      hsla(189, 100%, 56%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 10% 50%,
      hsla(355, 100%, 93%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 80% 40%,
      hsla(340, 100%, 76%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 20% 80%,
      hsla(22, 100%, 77%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 60% 80%,
      hsla(242, 100%, 70%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 5% 5%,
      hsla(343, 100%, 76%, 1) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 90% 90%,
      hsla(50, 100%, 50%, 0.7) 0%,
      transparent 70%
    );
}

.candy-mesh {
  background-color: #ff99ee;
  background-image: radial-gradient(
      at 99% 6%,
      hsla(195, 69%, 67%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 55% 88%, hsla(189, 74%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 27%, hsla(271, 78%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 89% 89%, hsla(317, 89%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 44%, hsla(337, 92%, 61%, 1) 0px, transparent 50%);
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.code-clips {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* for home.tmpl.html css */
.code-preview {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-x: auto;
}
select,
textarea,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background: #fafafa;
  transition: border-color 0.3s;
}

select:focus,
textarea:focus {
  border-color: #4a90e2;
  outline: none;
  background: #fff;
}

input,
select,
textarea {
  margin-top: 0.5rem;
}

textarea {
  height: 200px;
  resize: vertical;
}

.code-clips h2 {
  text-align: center;
}

.text-clip {
  font-size: 3.5rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.949),
    rgba(100, 100, 100, 0.868),
    rgba(150, 150, 150, 0.801),
    rgba(100, 100, 100, 0.868)
  );

  background-clip: text;
  -webkit-background-clip: text;
  animation: textAnimation 1.5s cubic-bezier(0, 0.5, 0, 1);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes textAnimation {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

.code-clips button {
  display: inline-block;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8),
    rgba(200, 200, 200, 0.8),
    rgba(150, 150, 150, 0.8),
    rgba(100, 100, 100, 0.8)
  );
  border: none;
  outline: none;
  padding: 1rem 2rem;
  color: #f0f0f0;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.code-clips button:hover {
  opacity: 0.8;
}

.code-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.copy-btn,
.run-btn {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}
.copy-btn {
  background-color: #007bff;
  color: white;
}
.copy-btn:hover {
  background-color: #0056b3;
}
.run-btn {
  background-color: #28a745;
  color: white;
}
.run-btn:hover {
  background-color: #218838;
}
#output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div.toast {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.error {
  color: #c0392b;
  font-weight: bold;
  display: block;
}

.error + textarea,
.error + input {
  border-color: #c0392b !important;
  border-width: 2px !important;
}

.element {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 3rem;
}

.element::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Height of the bottom border */
  background-color: #ff99ee;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.642),
    rgba(100, 100, 100, 0.953),
    rgba(150, 150, 150, 0.539),
    rgba(100, 100, 100, 0.456)
  );
}

.element::before {
  content: "";
  position: absolute;
  bottom: 6px; /* Adjust the spacing between the two lines */
  left: 0;
  width: 100%;
  height: 4px; /* Height of the second line */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.949),
    rgba(100, 100, 100, 0.868),
    rgba(150, 150, 150, 0.801),
    rgba(100, 100, 100, 0.868)
  );
}

#downloadButton {
  display: none;
  color: white;
  background-color: #0063d0;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

#signupButton {
  color: white;
  background-color: #0063d0;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

nav a.live {
  color: #34495e;
  cursor: default;
}

nav a.live:hover {
  text-decoration: none;
}

nav a.live:after {
  content: "";
  display: block;
  position: relative;
  left: calc(50% - 7px);
  top: 9px;
  width: 14px;
  height: 14px;
  background: #f7f9fa;
  border-left: 1px solid #e4e5e7;
  border-bottom: 1px solid #e4e5e7;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
}

/* .contact-section {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.949),
    rgba(100, 100, 100, 0.868),
    rgba(150, 150, 150, 0.801),
    rgba(100, 100, 100, 0.868)
  );
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
} */

.contact-section img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.contacts-arena {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.contacts-arena svg.github {
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgba(13, 83, 195, 0.799), #ff8420);
  background-origin: border-box;
  background-clip: content-box, border-box;

  margin: 0;
  padding: 0;
}

.contacts-arena svg.insta {
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;

  margin: 0;
  padding: 0;
}

.contacts-arena svg.fb {
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgba(13, 83, 195, 0.799), #ff8420);
  background-origin: border-box;
  background-clip: content-box, border-box;

  margin: 0;
  padding: 0;
}
